@tailwind base;
@tailwind components;
@tailwind utilities;

/* Itim */
/* @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); */
/* Inter */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "flowbite/dist/flowbite.css";

:roote {
  --smothText: #5b5b5b;
}

html {
  scroll-behavior: smooth;
}

.mainTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 66px;
  line-height: 48px;
}

@media (max-width: 768px) {
  .mainTitle {
    font-size: 56px;
  }
}

@media (max-width: 480px) {
  .mainTitle {
    font-size: 48px;
  }
}

.secondTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 38px;
  line-height: 28px;
}

@media (max-width: 768px) {
  .secondTitle {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .secondTitle {
    font-size: 28px;
  }
}

.paragraph {
  color: var(--smothText);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.5px;
}

.cardParagraph {
  color: var(--smothText);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
}

.btn {
  border-radius: 12px;
  padding: 8px 12px;
  border: 0;
}

.shape1 {
  border-radius: 28px 28px 28px 0;
}

.shape2 {
  border-radius: 0 28px 28px 28px;
}

.cr {
  cursor: pointer;
}

.active {
  border-bottom: 1px solid #ffffff;
}

.wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: waveHand 2s infinite;
}

@keyframes waveHand {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60%,
  100% {
    transform: rotate(0deg);
  }
}

.slideInRight {
  opacity: 0;
  transform: translateX(40px);
  animation: slideInRightAnim 1s ease forwards;
}

@keyframes slideInRightAnim {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.icon {
  top: -6%;
  left: -6%;
}
